<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록 페이지</title>
</head>
<body>
    <div class="brd_list_view">
        <div class="line">
            <div>번호</div>
            <div>제목</div>
            <div>작성자</div>
        </div>
        <% for(let i = 0; i < data.length; i++) { %>
            <div class="line">
                <div><%- data[i].brdid %></div>
                <div>
                    <!-- a태그의 주소는 /detail/게시글 번호 -->
                    <a href="/detail/<%- data[i].brdid %>">
                        <%- data[i].brdtitle %>
                    </a>
                </div>
                <div><%- data[i].brdauther %></div>
            </div>
        <% } %>
    </div>
    <a href="/insert">게시글 작성</a>
</body>
</html>

